torch>=2.4.0
torchvision>=0.19.0
diffusers>=0.31.0
transformers>=4.49.0
tokenizers>=0.20.3
accelerate>=1.1.1
omegaconf
einops
numpy
sentencepiece
flash_attn
imageio
imageio-ffmpeg
webdataset
tensorboard